.dashboard-page {
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
  background-color: #f8f9fb;
}

.navbar {
  background-color: #7b68ee;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.nav-link {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, font-weight 0.3s ease;
  font-size: 1rem;
}

.nav-link:hover,
.add-budget:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-link.active {
  background-color: white;
  color: #7b68ee;
  font-weight: bold;
}
.add-budget {
  display: flex;
  align-items: center;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}
.addIcon {
  margin-right: 5px;
}
.logout-btn {
  border: none;
  background-color: #e03131;
  cursor: pointer;
}

.dashboard-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.month-summary {
  background-color: white;
  /* padding: 2rem; */
  border-radius: 16px;
  width: 96%;
  max-width: 1200px;
  height: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  position: relative;
}
.month-summary-thumb {
  padding: 0 20px;
}
.month-plan-thumb {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 45px;
  background-color: #000;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin: 0;
}
.month-plan-text {
  color: #a7a7a7;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-left: 20px;
}
.month-summary-text {
  text-align: left;
  color: #696969;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0px;
}

.summary-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0;
}
.summary-income-text {
  color: #696969;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-bottom: 20px;
}

.income-progress-line {
  width: 100%;
  height: 12px;
  background: rgba(60, 179, 113, 0.3);
  border-radius: 30px;
  position: relative;
}
.progress-dot {
  width: 18px;
  height: 18px;
  background-color: #3cb371;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.income-values-thumb,
.outcome-values-thumb {
  display: flex;
  justify-content: space-between;
}
.income-value,
.outcome-value {
  color: #989898;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

.summary-outcome-text {
  color: #696969;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-bottom: 20px;
}
.outcome-progress-line {
  width: 100%;
  height: 12px;
  background: rgba(255, 204, 0, 0.3);
  border-radius: 30px;
  position: relative;
}
.outcome-progress-dot {
  width: 18px;
  height: 18px;
  background-color: #ffcc00;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
